<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renj.selecttest">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.renj.selecttest.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.renj.selecttest.activity.MainActivity"
            android:label="@string/image_selected_clip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SelectedActivity"
            android:label="@string/image_selected" />

        <activity
            android:name=".activity.SelectedMyActivity"
            android:label="@string/image_selected_my" />

        <activity
            android:name=".activity.ClipSingleActivity"
            android:label="@string/image_clip_single" />

        <activity
            android:name=".activity.ClipSingleMyActivity"
            android:label="@string/image_clip_single_my" />

        <activity
            android:name=".activity.ClipMoreActivity"
            android:label="@string/image_clip_more" />

        <activity
            android:name=".activity.ClipMoreMyActivity"
            android:label="@string/image_clip_more_my" />
    </application>

</manifest>